.titulo
{
    background-color:ButtonFace;
    font-size: 14px; 
    margin:10px;
    padding:4px;
    width:100%;
}
.LetrasTD
{
    width: 10px;
    font-size:9px;
}
.LetrasLabel
{
    width: 90px;
    top: 1px;
    font-size:9px;
}
.BotoesCadastro
{
    background-color: ButtonFace;
    font-size: 14px;
    margin: 10px;
    padding: 4px;
    width: 238px;
    height: 11px;
}
.Menu
{
    font-size: 10pt;
    height:1%;
    width:100%;
}
